.conhecimento{

    background: var(--vermelho);
    color: var(--branco);

    padding-bottom: 3rem;
    padding-top: 3rem;

}

.conhecimento-subtitulo{

    font-family: var(--montserrat);
    font-size: 1.3rem;
    font-weight: 400;

    margin-top: .7rem;
    margin-bottom: .7rem;

}

.listagem{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 1.5rem;
    margin-bottom: 1rem;

}

.conhecimento-imagens{

    padding-top: 1.5rem;

}