.contacts-list{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-left: 3rem;
    padding-right: 3rem;

}

.contacts-img{

    border: 5px solid;
    border-image: linear-gradient(245deg, #0f0c7e, #1b16e9) 1;
    border-radius: 16px;
    padding: 1.5rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}
